<header role="banner">
	<nav class="navbar container">
		<ul>
			<li><a class="navbar__entry" href="/">Shalin Patel</a></li>
			<li><a class="navbar__entry" href="/about">About</a></li>
		</ul>
	</nav>
</header>
