<header role="banner">
	<nav class="navbar container">
		<ul>
			<li class="navbar__entry"><a href="/">Shalin Patel</a></li>
			<li class="navbar__entry"><a href="/about">About</a></li>
		</ul>
	</nav>
</header>
