<html>
	<head>
		<title>Shalin Patel | About</title>
		<% include ../partials/head_content.ejs %>
	</head>
	<body>
		<link rel="stylesheet" href="styles/header.css">
		<% include ../partials/header.ejs %>
		<h1>About</h1>
	</body>
</html>
